#EditFeatures{
    background-color: #ededed;
}
#EditFeatures .Container form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width:10%
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    background-color: #3b3b3b;
    padding: 25px 15px;
    height: 520px;
} 
#EditFeatures fieldset{
    display: flex;
    justify-content: center;
    border: none;
}
#EditFeatures button{
    padding: 5px;
    border-radius: 5px; 
    margin: 5px 0;
    color: #ededed;
    background-color: blue;
}
#EditFeatures #FileUploader{
    border: 1px solid black;
    width: 400px;
    padding: 5px;
    border-radius: 5px; 
    margin: 5px 0;
    color: #ededed;
    background-color: darkgreen;
}
#EditFeatures fieldset input,textarea{
    width: 100%;
}

#EditFeatures .Container form input:nth-child(1){
    font-size: 20px;
    padding: 10px;
    border: 1px solid #2B2B2B;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #2B2B2B;
    color: #ededed;
}
#EditFeatures .Container form textarea{
    color: #ededed;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #2B2B2B;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #2B2B2B;
    resize: none;
}