*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

a{
    text-decoration: none;
}
p{
    font-size: 13px;
    color: #787878;
}

.Container{
    margin: auto;
    max-width: 900px;
    overflow: auto;
    padding: 0 20px;
}
.BlueFonts{
    color: #4c79bd;
}
/*=================================Header=====================================*/
header{
    background-color: #ededed;
    overflow: visible;
    height: 150px;
}
header .Container{
    display: flex;
    justify-content: space-between;
}
header img{
    float: left;
    margin-top: 40px;
}

header nav{
    margin-top: 40px;
}
header nav ul{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    margin-left: 20px;  
    font-size: 12px;
    font-family: 'Gayathri', sans-serif;
}

#Toggle{
    display: none;
}
header nav a{
    font-size: 15px;
    font-weight: 700;
    color: #979699;
}
header nav a:hover{
    color: #000;
}
#Login{
    float: left;
    margin-top: 40px;  
}
#Login a{
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    padding: 8px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #6200ee;
    display: block;
}
#Login a:hover{
    border: 1px solid black;
    color: black;    
    background-color: transparent;
}
/*==============================AppSlider=====================================*/
#Slider{
    background: #e6e6e6 url('../img/appslider.png') center no-repeat;
    height: 185px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0px 1px 10px #d0d0d0;  
}

.Slide{
    width: 120px;
    height: 120px;
    float: left;
    margin: 4% 4% 0% 0; 
}
#Phone{
    position: absolute;
    float: right;
    top:65px;
}

/*=================================KeyFeatures================================*/

#KeyFeatures{
    background: #ededed;   
    padding: 20px; 
}
#KeyFeaturesBox{
    margin:20px 29% 20px 0;
    display: flex;
    justify-content: space-between;
}

.Feature{
    width: 190px;
}
#FeatureNotBolded{
    font-weight: 100;
}
.Subtitle{
    display: flex;
    align-items: center;
}
.Subtitle h3{
    width: 70%;
    font-size: 12px;  
    text-transform: uppercase;
    
}

.Feature p{
    display: block;
    clear: both;
}
.Subtitle img,h3{
    vertical-align: middle;
    float: left;
}

/*================================MainContent=================================*/
#MainContent{
    background: #e5e5e5;
    border-bottom: 1px solid #d1cfcf; 
    box-shadow: inset 0px 1px 10px #d0d0d0;
    
    
}
#MainContentBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Content{
    float: left;
    width:  47%;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    border: 3px dotted #aa81e8;
}

.Content h3{
    width: 300px;
    font-size: 13px;
    margin-top: 3%;
}
.Content img,h3{
    float: left;
}
.Content img{
    margin-right: 5%;
}
#MainContent button{
    float: right;
    margin: 5% 1%;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    padding: 5px 20px;
    width: 150px;
    font-weight:700;
}
#MainContent button:hover{
    background: #fff;
}
.MainContentSubtitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 30px 15px 65px;
    overflow: hidden;
}
/*=============================ClientTestimonials=============================*/
#ClientTestimonials{
    margin: 10px 0;
}
#ClientTestimonials span{
    float: left;
}
#ClientTestimonials #Ct1{
    text-transform: uppercase;
    padding-right: 10px;
}
#Ct1bolded{
    text-transform: uppercase;
    padding-right: 5px;
    font-weight: 700;
}
#Ct2{
    font-size: 12px;
    font-style: italic;   
}
#Ct3{
    padding-left: 20px;
    font-style: italic;  
}
/*==================AboutUs=======================*/
#About{
    box-shadow: inset 0px 1px 10px #1f1f1f;  
    padding: 50px 0;
    font-family: 'Gayathri', sans-serif;
    
}
#About .Container .top-text{
    width: 100%;
    border: 3px dotted black;
    text-align: center;
    padding: 10px 25px;
}
#About .Container .top-text *{
   padding: 10px 25px;
   color: black;
}
#About .Container .top-text p{
    font-size: 14px;
 }
 #About .Container .our-team{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 20px 10px;
 }
 #About .Container .our-team .person{
     width: 45%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 20px;
 }
 .person img{
     width:140px;
 }



/*==================================Footer====================================*/
footer{
    background: #1f1f1f;
}
footer p{
    color: #fff;
    display: inline-block;
}
footer h3{
    color: #fff;
    display: inline-block;
}
.FooterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 15px 10px 0 0;
    padding: 20px 0;
    float: left;
}
.FooterBox div{
    width: 40%;
    margin: 0 25px;
}
.FooterBox div:last-child{
    width: 20%;
}
#SearchSite{
    background: #3b3b3b;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    overflow: hidden;
}
#SearchSite #Label{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    float: left;
    padding: 15px 0px 15px 10px;
}
#SearchSite input{
    border: none;
    background: #2b2b2b;
    float: left;
    width: 60%;
    margin: 8px 8px;
    padding: 5px 10px;
    color: white;
}
#SearchSite input::placeholder{
    color: #fff;
    font-size: 9px;    
}

footer h3{
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: uppercase;
}
#StayUpdated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0; 
}
#Social a{
    overflow: hidden;
}
footer form{
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    background: #3b3b3b;
    padding: 15px 15px;
    height: 220px;
}
footer form textarea{
    width: 100%;
    background: #2b2b2b;
    height: 80px;
    color: #f1f1f1;
    border: none;
    resize: none;
    padding: 10px;
}
   
#ContactInputTwo{   
    float: right;
}
footer input[type=reset],input[type=submit]{
    width: 60px;
    height: 30px;
    float: right;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    margin: 10px 0 10px 5px;
    padding: 5px 5px;
    background: #535353;
    color: #1d87be;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
footer input[type=reset]:hover,input[type=submit]:hover{
    background: #2b2b2b;
}
footer legend{
    text-transform: uppercase;
    color: #247dac;
    font-weight: 700;
}
/*===============================UnderFooter==================================*/
#Info{
    background: #191919;
}
#DateAndStuff{
    float: left;
    margin: 5px 0;
}
#SecondaryNav{
    float: right;
}

#SecondaryNav ul{
    list-style: none;
}
#SecondaryNav nav{
    padding: 0;
    margin: 5px 0;
}
#SecondaryNav li{
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    padding: 0 5px;
    border-right: 1px solid #525252;
}
#SecondaryNav li:last-child{
    border-right: none;
}
#SecondaryNav a{
    color: #525252;
}
#SecondaryNav a:hover{
    color: #fff;
}
/*=========ContactForm===========*/

fieldset{
    border: none;
}

#ContactForm{
    background: #ededed;
    padding: 20px 10px 40px 10px;
}
#ContactForm form{
    
    overflow: hidden;
    width:10%
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    background: #3b3b3b;
    padding: 35px 15px;
    height: 520px;
}   
#ContactForm fieldset span{
    clear: both;
    display: block;
}    
#ContactForm fieldset legend{    
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    color: #247dac;
    font-size: 35px;
    font-weight: 700;
}
#TextArea{
    float: left;
    width: 100%;
    height: 50%;
    
    margin: 20px 0;
}
#ContactForm form textarea{
    width: 100%;
    height: 100px;
    font-size: 20px;
    background: #2b2b2b;
    height: 100%;
    color: #f1f1f1;
    border: none;
    resize: none;
    padding: 10px;
}
#ContactInputOne,#ContactInputTwo{
    overflow: hidden;
    float: left;
    width: 50%;
    
}
#ContactInputOne input,#ContactInputTwo input{
    width: 90%;
    margin: 10px 0;
    background: #2b2b2b;
    border: none;
    padding: 5px 5px;
    color: #fff;
}
#ContactInputOne span{
    display: block;
    float: left;
}
#ContactInputTwo span{
    display: block;
    float: right;
}

#ContactInputTwo input{   
    float: right;
}
#ContactForm button{
    width: 80px;
    height: 50px;
    float: right;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px 5px;
    background: #535353;
    color: #1d87be;
    text-transform: uppercase;
    font-weight: 700;
}
#ContactForm button:hover{
    background: #2b2b2b;
}
#ContactForm input{
    font-size: 20px;
}
.ContactFormError{
    font-size: 13px;
    color: red;
}
.Success{
    color: #006400;
    font-size: 20px;
    font-weight: 700;
}
